body{
    background-color: white;
    /*text-align: center;*/
}
.container{
    margin-top: 20px;
}
.nav > p{
    display: inline-block;
    color: #90000a;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: -20px;
    margin-bottom: -10px;
    width: 100px;
    text-decoration: none;
}
/*header and logo styling*/
h1 > a{
    color: #5e9c97;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    text-align: center;
    font-size: 75px;
    width: 900px;
}
p a{
    color: #90000a;
    text-decoration: none;
}
a:hover, a:active{
    color: #f9bc83;
}
img{
    margin:auto;
    width: 910px;
    padding-top: 20px;
    
}
div > img{
    width: 300px;
}
/*text styling*/
.blurb{
    float:right;
    height: 210px;
    width: 400px;
    padding: 20px;
    margin-right: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #99b4d1;
    text-align: left;
}
/*styling for left side images in pages*/
.vertical{
    float:left;
    width: 400px;
    padding: 20px;
    margin-left: 60px;
}
/*form styling for contact page*/
form{
    float:left;
    margin-top: -150px;
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;
    color: #5e9c97;
    font-size: 18px;
    width: 400px;
    height: 500px;
    text-align: center;
}
/*styling for list in services page*/
ul{
    font-family: 'Raleway', sans-serif;
    color: #5e9c97;
    font-size: 18px;
    text-align: left;
    width: 400px;
    height: 200px;
    float: right;
    margin-top: 10px;
}
/*color hex codes: teal color 5e9c97; berry color 90000a; beige color f9bc83; blue grey color 99b4d1*/